# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
*.weights
*.onnx
*.pt
*.pth
*.mp4
*.avi

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Local
.DS_Store